# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions

# IntelliJ / Android Studio
.idea/
*.iml

# VS Code
.vscode/

# Android
android/.gradle/
android/app/*.keystore
android/local.properties
.gradle/
captures/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/ServiceDefinitions.json
*.xcworkspace
*.xcuserdata
DerivedData/

# macOS
macos/Pods/
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/
windows/runner/GeneratedPluginRegistrant.*

# Linux
linux/flutter/ephemeral/

# Web
web/.dart_tool/
web/.pub/

# Misc
*.log
*.tmp
*.lock
.DS_Store
.env
key.properties
